
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h4>Doctor Management System</h4>

<ul>
    <li><a href="~/Doctor/List">List All Doctors</a></li>
    <li><a href="~/Doctor/AddDoctor">Add a Doctor</a></li>
    <li><a href="~/Doctor/DeleteDoctor">Delete a Doctor</a></li>
    <li><a href="~/Doctor/ChangeDoctor">Change a Doctor</a></li>
</ul>