
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h4>Doctor Management System</h4>

<ul>
    <li><a href="~/Patient/List">List All Patients</a></li>
    <li><a href="~/Patient/AddPatient">Add a Patient</a></li>
    <li><a href="~/Patient/DeletePatient">Delete a Patient</a></li>
    <li><a href="~/Patient/ChangePatient">Change a Patient</a></li>
</ul>