@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}



<div style="text-align:center">
    
        <p><label><img src="~/images/logo.png" style="margin-top:10px"></label></p>
         <p style="font-size:large;">Your physio therapy friend!</p>
</div>


    

