@{
    ViewBag.Title = "ChangeBook";
}
@using SqliteDemo.Models.Entity;
@model Book

<h2>ChangeBook</h2>

<form method="post" action="~/Book/ChangeBook">

    <p><label>Title: <input type="text" name="Title" value="@Model.Title" /></label></p>
    <p><label>ISBN: <input type="text" name="ISBN" value="@Model.ISBN" /></label></p>
    <p><input type="submit" value="Change Book" /></p>

</form>
