@{
    ViewBag.Title = "DeleteBook";
}
@using SqliteDemo.Models.Entity;
@model Book

<h2>DeleteBook</h2>

<form method="post" action="~/Book/DeleteBook">

    <p><label>ISBN: <input type="text" name="ISBN" value="@Model.ISBN" /></label></p>
    <p><input type="submit" value="Delete Book" /></p>

</form>
